[Unit]
Description = uWSGI service
After = syslog.target

[Service]
ExecStart = /home/f23hot/Desktop/Purdue_Project/CandY-back/myvenv/bin/uwsgi -i /home/f23hot/Desktop/Purdue_Project/CandY-back/.config/uwsgi/myproject.ini

Restart = always
KillSignal = SIGQUIT
Type = notify
StandardError = syslog
NotifyAccess = all

[Install]
WantedBy = multi-user.target
